<div class="card mx-2 p-3">
  <div class="ddetails text-center text-muted font-weight-bold" style="border-bottom: 1px solid rgb(243, 238, 238);">Domain Details</div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link font-weight-bold mr-2"  (click)="changeSettings('basic')" [ngClass]="{active:setsetting == 'basic'}">
        Basic SechangeSettings
    </a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold mr-2" (click)="changeSettings('advance')" [ngClass]="{active:setsetting == 'advance'}">
        Advance Settings
    </a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold mr-2" (click)="changeSettings('category')" [ngClass]="{active:setsetting == 'category'}">
        Categories
      </a>
    </li>
  </ul>

  <form [formGroup]="userForm">
    <div *ngIf="setsetting=='basic'">
      <div class="form-group">
        <label for="domain" class="font-weight-bold">Domain Name<span>*</span></label>
        <input type="text" name="domain" class="form-control"  placeholder="Enter Domain Name"
          #domainName formControlName="domainName" [class.is-invalid]="userForm.get('domainName').invalid && userForm.get('domainName').touched">
        <section *ngIf="userForm.get('domainName').invalid && userForm.get('domainName').touched">
          <small class="text-danger" *ngIf="userForm.get('domainName').errors?.required">Domain Name is Required</small>
          </section>
      </div>

      <div class="form-group">
        <label for="domainlevel" class="font-weight-bold">Domain Label<span>*</span></label>
        <input type="text" name="domainlevel" class="form-control"  placeholder="Enter Domain Level"
          #domainLabel formControlName="domainLabel" [class.is-invalid]="userForm.get('domainLabel').invalid && userForm.get('domainLabel').touched">
        <section *ngIf="userForm.get('domainLabel').invalid && userForm.get('domainLabel').touched">
            <small class="text-danger" *ngIf="userForm.get('domainLabel').errors?.required">Domain Label is Required</small>
          </section>
      </div>

      <div class="form-group">
        <label for="knowledgeBaseId" class="font-weight-bold">KnowledgeBase Id<span>*</span></label>
        <input type="text" name="knowledgeBaseId" class="form-control" 
          placeholder="Enter knowledge Base Id" #knowledgeBaseId formControlName="knowledgebaseId"
          [class.is-invalid]="userForm.get('knowledgebaseId').invalid && userForm.get('knowledgebaseId').touched">

        <section *ngIf="userForm.get('knowledgebaseId').invalid && userForm.get('knowledgebaseId').touched">
            <small class="text-danger" *ngIf="userForm.get('knowledgebaseId').errors?.required">knowledgebase Id is Required</small>
          </section>
      </div>

      <div class="form-group">
        <label for="endpointKey" class="font-weight-bold">KnowledgeBase Endpoint Key<span>*</span></label>
        <input type="text" name="endpointKey" class="form-control" placeholder="Enter Endpoint Key"
          #knowledgeBaseEndpointKey formControlName="knowledgeBaseEndpointKey"
          [class.is-invalid]="userForm.get('knowledgeBaseEndpointKey').invalid && userForm.get('knowledgeBaseEndpointKey').touched">
        <section *ngIf="userForm.get('knowledgeBaseEndpointKey').invalid && userForm.get('knowledgeBaseEndpointKey').touched">
            <small class="text-danger" *ngIf="userForm.get('knowledgeBaseEndpointKey').errors?.required">knowledge Base End Point Key is Required</small>
          </section>
        </div>

      <div class="form-group">
        <label for="confidencethracehold" class="font-weight-bold">Confidence Threshold<span>*</span></label>
        <div class="card">
          <ngx-slider [(value)]="value"  [options]="options" #confidenceThreshold></ngx-slider>
        </div>
        <!-- -->
      </div>

      <div class="form-group">
        <label for="host" class="font-weight-bold">Host<span>*</span></label>
        <input type="text" name="host" class="form-control" placeholder="Enter Host" #host
        formControlName="host" [class.is-invalid]="userForm.get('host').invalid && userForm.get('host').touched">

        <section *ngIf="userForm.get('host').invalid && userForm.get('host').touched">
          <small class="text-danger" *ngIf="userForm.get('host').errors?.required">Host is Required</small>
        </section>
      </div>

      <div class="form-group">
        <label for="pcontract" class="font-weight-bold">Primary Email Contact<span>*</span></label>
        <input type="text" name="pcontract" class="form-control" 
          placeholder="Enter Primary Contract" #primaryEmailContact formControlName="primaryEmailContact"
          [class.is-invalid]="userForm.get('primaryEmailContact').invalid && userForm.get('primaryEmailContact').touched"
          pattern= "^(([^<>()[\]\\.,;:\s@']+(\.[^<>()[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$">

          <section *ngIf="userForm.get('primaryEmailContact').invalid && userForm.get('primaryEmailContact').touched">
            <small class="text-danger" *ngIf="userForm.get('primaryEmailContact').errors?.pattern">Primary Email pattern doesnot match</small>
            <small class="text-danger" *ngIf="userForm.get('primaryEmailContact').errors?.required">Primary Email Contact is Required</small>
          </section>
      </div>

      <div class="form-group">
        <label for="scontract" class="font-weight-bold">Secondary Email Contact</label>
        <input type="text" name="scontract" class="form-control" 
          placeholder="Enter Secondary Contract" #secondaryEmailContact formControlName="secondaryEmailContact"
          [class.is-invalid]="userForm.get('secondaryEmailContact').invalid && userForm.get('secondaryEmailContact').touched"
          pattern= "^(([^<>()[\]\\.,;:\s@']+(\.[^<>()[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$">

          <section *ngIf="userForm.get('secondaryEmailContact').invalid && userForm.get('secondaryEmailContact').touched">
            <small class="text-danger" *ngIf="userForm.get('secondaryEmailContact').errors?.pattern">Secondary Email pattern doesnot match</small>
            <small class="text-danger" *ngIf="userForm.get('secondaryEmailContact').errors?.required">Secondary Email Contact is Required</small>
          </section>
      </div>

      <div class="form-group">
        <label for="helpbox" class="font-weight-bold">Help Text<span>*</span></label>
        <textarea type="text" name="helpmsg" class="form-control" placeholder="write a help message"
          size="100" #helpText formControlName="helpText"   
          [class.is-invalid]="userForm.get('helpText').invalid && userForm.get('helpText').touched"></textarea>
      
          <section *ngIf="userForm.get('helpText').invalid && userForm.get('helpText').touched">
            <small class="text-danger" *ngIf="userForm.get('helpText').errors?.required">HelpText is Required</small>
          </section>
      </div>

      <div class="form-group">
        <label for="lookbackTimeForLog" class="font-weight-bold">Look Back Time For Log<span>*</span></label>
        <input type="number" class="form-control" #lookbackTimeForLog  formControlName="lookbackTimeForLog"
        [class.is-invalid]="userForm.get('lookbackTimeForLog').invalid && userForm.get('lookbackTimeForLog').touched">
        <section *ngIf="userForm.get('lookbackTimeForLog').invalid && userForm.get('lookbackTimeForLog').touched">
          <small class="text-danger" *ngIf="userForm.get('lookbackTimeForLog').errors?.required">lookbackTimeForLog is Required</small>
        </section>
     </div>

      <div class="form-group">
        <label for="maxresponses" class="font-weight-bold">Number Of Responses in Search<span>*</span></label>
        <input type="number" name="maxresponses" class="form-control" required="true"
          placeholder="Enter total response" #maxResponsesInSearch formControlName="maxResponsesInSearch"
          [class.is-invalid]="userForm.get('maxResponsesInSearch').invalid && userForm.get('maxResponsesInSearch').touched">
          <section *ngIf="userForm.get('maxResponsesInSearch').invalid && userForm.get('maxResponsesInSearch').touched">
            <small class="text-danger" *ngIf="userForm.get('maxResponsesInSearch').errors?.required">Max ResponsesInSearch is Required</small>
          </section>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-sm btn-outline-success mr-3" 
        (click)="updateData(domainName,domainLabel,knowledgeBaseId,knowledgeBaseEndpointKey,confidenceThreshold,host,primaryEmailContact,
                          secondaryEmailContact,helpText,maxResponsesInSearch,lookbackTimeForLog)" [disabled]="userForm.invalid">Update</button>
        <button class="btn btn-sm btn-outline-warning ml-1"> Reset</button>
      </div>
      </div>
  </form>
</div>
