
.tooltip-inner {
  color: white;
  background-color: #0dcaf0;
  font-size: 13px;
  }
  .bs-tooltip-auto[x-placement^=top] .arrow:before, .bs-tooltip-top .arrow:before {
  border-top-color: #ffc107 ;
  }
a{
  text-decoration: none;
}
.domain-wrapper{
  display: inline;

}
.domain{
  color:  #6c757d;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  &.activeDomain{
    color: black
  }
  &:hover{
    color: yellowgreen;
  }
}

.domainTab{
  margin-top: 3px;
  background-color:whitesmoke;
  font-weight: bold;
  color: black;
  // border: 2px solid  #0dcaf0;
  border-radius: 5px;
  cursor: pointer;

  &:hover{
    color: #ffc107;
    background-color: #6c757d;
  }

  &.activeTab{
    color: black;
    background-color: #6c757d;
    border: 1px solid #0dcaf0;
  }
}

.form-wrapper{
    font-family: sans-serif;
    margin-top: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
label > span{
  color: red;
}
