<div class="container-fluid">
    <header class="l-header-wrapper" style="user-select: auto;">
        <div class="l-header">
           <div class="m-logo-and-search">
                <a class="m-logo gtm-logo-nav">
                   <img src="https://taihocorp-media-release.s3.us-west-2.amazonaws.com/images/taiho-logo.original.png" 
                        class="m-logo-img" alt="Taiho Oncology logo: Making the human connection" style="user-select: auto;">
                  </a>    
            </div>       
        </div>
        </header>
</div>
